*.bat linguist-detectable=false
*.cmd linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.png filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
