/* -------------------------------------- */
/* Author  : Jakiboy (Jihad Sinnaour)
/* package : ReVens | Reverse Engineering Toolkit AIO
/* version : 1.2.0
/* -------------------------------------- */

html,
body {
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    overflow: hidden;
    background: #303030 url(../img/bg-main.png);
    color: #bdbdbf;
}
