/* -------------------------------------- */
/* Author  : Jakiboy
/* package : ReVens | Reverse Engineering Toolkit AIO
/* Version : 1.3.x
/* -------------------------------------- */

html,
body {
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    overflow: hidden;
    background: #303030 url(../img/bg-main.png);
    color: #bdbdbf;
}